{% extends '_pos_base.html' %}
{% load static %}

{% block title %}POS{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-md-8">


        <div class="card">
            <div class="card-header">
                <div class="input-group d-flex " style="width: 100%;">
                    <div class="input-group-prepend hover-cursor" id="navbar-search-icon" style="width: 10%;">
                        <span class="input-group-text" id="search">
                            <i class="icon-search"></i>
                        </span>
                    </div>
                    <div style="width: 90%;">
                        <input name="q" type="text" class="form-control" id="myInput" onkeyup="myFunction()"
                            placeholder="Search..." aria-label="search" aria-describedby="search">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">


                    <table class="table table-striped table-hover" id="myTable">
                        <thead>
                            <tr>

                                <th>
                                    Name
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Qty in Stock
                                </th>
                                <th>
                                    action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}

                            <tr>
                                <td>
                                    {{ product.name }}
                                </td>
                                <td>
                                    {{ product.description }}
                                </td>
                                <td>
                                    {{ product.price }}
                                </td>
                                <td>
                                    {{ product.available_quantity }}
                                </td>
                                <td>

                                    {% if product.available_quantity <= 0 %} <a
                                        class="btn btn-outline-secondary btn-danger btn-sm text-white">
                                        out of stock
                                        </a>

                                        {% else %}<a
                                            onclick="addItem({{ product.id }}, '{{ product.name }}', {{1}},  {{ product.price }}, {{ product.available_quantity }} )"
                                            class="btn btn-outline-secondary btn-success btn-sm text-white">
                                            add
                                        </a>
                                    {% endif %}

                                </td>
                            </tr>

                            {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card ">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><strong>Purchase</strong></h4>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <td></td>
                                                <td><strong>Item</strong></td>
                                                <td class="text-right"><strong>Price</strong></td>
                                                <td class="text-center"><strong>Qty</strong></td>
                                            </tr>
                                        </thead>
                                        <tbody id="summary-table-body">

                                        </tbody>
                                    </table>
                                    <hr>
                                    <div class="thick-line text-right mr-3">
                                        <strong>
                                            Total: GH₵ <span class="ml-3 text-success" id="orderTotalPrice"> 0</span>
                                        </strong>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <label class="col-form-label">Payment Method</label>
                <div class="form-group row">

                    <div class="col-sm-4">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" value="cash" class="form-check-input" name="payment-method" id="cash"
                                    checked>
                                Cash
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" value="momo" class="form-check-input" name="payment-method" id="momo">
                                Momo
                            </label>
                        </div>
                    </div>
                </div>

                <div class="container-fluid" id="box">
                    <div class="row" >
                        <div class="col-md-7">
                            <div class="form-group">
                                <label>Cash</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-dark text-white">GH₵</span>
                                    </div>
                                    <input type="number" class="form-control" id="cash-input" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label>Change</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-dark text-white">GH₵</span>
                                </div>
                                <input type="text" class="form-control" id="change-input" disabled>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="mt-2 btn-group specisal align-items-center d-flex flex-row justify-content-spacebetween"
                    role="group">
                    {% csrf_token %}
                    <button type="button" class="btn btn-success"
                        onclick="postOrder('{% url 'add_sale' %}')">Complete</button>
                    <button type="button" class="btn btn-danger" onclick="clearAllItems()">Clear</button>
                </div>
            </div>
        </div>

    </div>
</div>



<script>
    var product_ids = [];
    var total_price = 0;
    var order_list = [];
    var new_data = [];
    let orderTotal = document.getElementById('orderTotalPrice');
    let cinput = document.getElementById('cash-input');
    let chinput = document.getElementById('change-input');
    let cashradio = document.getElementById('cash');


    function addItem(item_id, item_name, item_qty, item_price, item_quantity) {


        for (let i = 0; i < new_data.length; i++) {

            if (new_data[i].id == item_id) {
                if ((new_data[i].quantity + 1) > item_quantity) {
                    window.alert("Quantity above quantity in stock")
                    return;
                }
                new_data[i].quantity += item_qty;
                new_data[i].price = new_data[i].quantity * item_price;
                createNode();
                return;
            }
        }
        new_data.push(
            {
                id: item_id,
                name: item_name,
                quantity: item_qty,
                price: (item_price * item_qty),
            }
        );
        createNode();
        return;


    }

    function createNode() {
        var tableBody = document.getElementById('summary-table-body');
        tableBody.innerHTML = "";
        order_total_price = 0.00;
        for (let i = 0; i < new_data.length; i++) {
            order_total_price += parseFloat(new_data[i].price)

            var tr = document.createElement('tr');

            let close = document.createElement("td");
            close.innerText = ' X ';
            close.setAttribute('class', 'text-center btn btn-sm p-2 text-danger');
            close.addEventListener("click", function (e) {
                if (new_data.length <= 1)
                    clearAllItems();

                this.parentNode.parentNode.removeChild(this.parentNode);
                DeleteChild(new_data[i]);
            });

            var td_name = document.createElement('td');
            td_name.innerHTML = new_data[i].name;

            var td_qty = document.createElement('td');
            td_qty.setAttribute('class', 'text-center');
            td_qty.innerHTML = "x " + new_data[i].quantity;


            var td_price = document.createElement('td');
            td_price.setAttribute('class', 'text-right');
            td_price.innerHTML = '₵ ' + (new_data[i].price);


            total_price = order_total_price;

            tr.appendChild(close);
            tr.appendChild(td_name);
            tr.appendChild(td_qty);
            tr.appendChild(td_price);

            //clearTotal();

            tableBody.appendChild(tr);
            //tableBody.appendChild(getTotal(order_total_price));
            orderTotal.innerHTML = order_total_price;


            //console.log(order_list);

        }
        if (new_data.length > 0) {
            document.getElementById('cash-input').disabled = false;
        }

    };

    function DeleteChild(index) {
        let temp = [];

        for (let i = 0; i < new_data.length; i++) {
            if (new_data[i] !== index) {
                temp.push(new_data[i])
            };
            //new_data.removeChild[index];
        }

        new_data = temp;
        createNode();
    }

    function clearAllItems() {
        var table = document.getElementById('summary-table-body');
        table.innerHTML = "";
        new_data = [];
        orderTotal.innerHTML = "0.00";
        chinput.value = 0;
        cinput.value = 0;
        document.getElementById('cash-input').disabled = true;

    }

    function clearTotal() {
        var total_tr = document.getElementById("total-tr");
        if (total_tr !== null) {
            total_tr.parentNode.removeChild(total_tr);
        }
    }

    function getTotal(total_price) {
        var tr_total = document.createElement('tr');
        tr_total.setAttribute('id', 'total-tr')

        var td_total_displays = document.createElement('td');
        td_total_displays.setAttribute('class', 'thick-line text-center');
        td_total_displays.innerHTML = "<strong></strong>";


        var td_total_display = document.createElement('td');
        td_total_display.setAttribute('class', 'thick-line text-right');
        td_total_display.innerHTML = "<strong>Total: </strong>";


        var td_total_price = document.createElement('td');
        td_total_price.setAttribute('class', 'thick-line text-right text-success');
        td_total_price.innerHTML = "<strong>GH₵ " + total_price + " </strong>";

        tr_total.appendChild(td_total_displays);
        tr_total.appendChild(td_total_display);
        tr_total.appendChild(td_total_price);

        return tr_total;
    }

    function postOrder(url) {
        if (new_data.length <= 0) {
            window.alert("Please add an Order Item");
            return;
        };

        if ( document.getElementById('cash').checked && cinput.value <= 0) {
            window.alert("Please enter amount given");
            return;
        }

        if (document.getElementById('cash').checked && cinput.value < total_price){
            window.alert("Cash is less than purchase amount");
            return;
        }

        data = {
            'order_list': new_data,
            'total_price': total_price,
        };

        let csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0];

        let form = document.createElement('form');
        form.action = url;
        form.method = "POST";

        let inp = document.createElement('input');
        inp.type = 'hidden';
        inp.name = 'data';
        inp.value = JSON.stringify(data);

        form.appendChild(csrftoken);
        form.appendChild(inp);

        document.body.appendChild(form);
        form.submit();
    }


    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        //tr = document.getElementById("mytr");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }


    cinput.addEventListener('input', (event) => {
        var amount = cinput.value;

        chinput.value = amount - total_price;
    })


</script>

<script>
        function handleRadioClick() {
        if (document.getElementById('cash').checked) {
            box.style.display = 'block';
        } else {
            box.style.display = 'none';
        }
    }

    const radioButtons = document.querySelectorAll('input[name="payment-method"]');
    radioButtons.forEach(radio => {
        radio.addEventListener('click', handleRadioClick);
    });
</script>
{% endblock content %}