{% load crispy_forms_tags %}


<div class="bg-gray p-5">
    <h2>Add Product details below</h2>



    <form method="POST" action="{% url 'add_product' %}?next=/" enctype="multipart/form-data">
        {% csrf_token %}
        {{ product_form | crispy }}

        <p><input class="btn btn-info btn-lg btn-block" type="submit" value="Add product"> </p>
        
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}
        
    </form>

</div>