{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<br>


<div class="container">
    <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <form class="header-search-form shadow" method="GET" action="{% url 'drughistory' %}">
            
            <input id="input" class="" name="q" type="text" placeholder="Search ....">
            <input type="submit" value="Search" class="btn btn-info" style="background-color: rgb(0, 192,192)">

        </form>
    </div>
    <div class="col-2"></div>
</div>
</div>

<br>

<div class="container">
    <div class="col-md-4 bg-info p-2 text-white text-center shadow">
        <h6>Drugs Sold = Ghc <span class="text-black"> <strong style="font-size: 20px;">
            {{ product_sold }} </strong> </span></h6>
    </div>
</div>

<div class="container pt-5">
    <div class="row">
        <div class="col-12">
            <table class="table shadow  table-hover table-striped">
                <thead class="bg-dark text-white">
                    <tr>
                        <th> Product </th>
                        <th> Date </th>
                        <th> Qty Sold </th>
                        <th> Total amount </th>
                        <th> Available quantity </th>
                        <th> seller </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in getDrug %}
                    <tr>
                        <td> {{ item.product }} </td>
                        <td> {{ item.date }} </td>
                        <td> {{ item.quantity }} </td>
                        <td> Ghc {{ item.total_amount }} </td>
                        <td> {{ item.qty }} </td>
                        <td> {{ item.seller }} </td>
                    </tr>
                    {% empty %}
                    <tr >
                        <td colspan="7"> <h4>No item found </h4> </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}