{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="index-bg" style="height: 100vh;">

    <h5 class="text-center">
        <p class="display-3">HISTORY</p>
    </h5>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-4 text-center">
                <div class="m-3 card grey-bg shadow">
                    <a href="{% url 'history' %}" class="link">
                        <img class="ind-img" src="{% static 'images/purchases.png' %}" alt="img not found">
                        <h3 class="">Sales & Expenses</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="m-3 card grey-bg shadow">
                    <a class="link" id="product-link" href="{% url 'drug_history' %}">
                        <img class="ind-img" src="{% static 'images/itemlist.png' %}" alt="img not found">
                        <h3 class="">Product</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="m-3 card grey-bg shadow">
                    <a href="{% url 'supply_history' %}" class="link" id="supply-link">
                        <img class="ind-img" src="{% static 'images/supplies.png' %}" alt="img not found">
                        <h3 class=""> Supply</h3>
                    </a>
                </div>
            </div>
    
        </div>
    </div>
    
</div>

{% endblock %}