{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="m-3 card grey-bg shadow">
                <a href="{% url 'items_list' %}" class="link">
                    <img class="ind-img" src="{% static 'images/purchases.png' %}" alt="img not found">
                    <h3 class="">Purchase</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="m-3 card grey-bg shadow">
                <a class="link" id="product-link" href="#">
                    <img class="ind-img" src="{% static 'images/itemlist.png' %}" alt="img not found">
                    <h3 class=""><i class="fas fa-plus"></i> Products</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="m-3 card grey-bg shadow">
                <a href="#" class="link" id="supply-link">
                    <img class="ind-img" src="{% static 'images/supplies.png' %}" alt="img not found">
                    <h3 class=""><i class="fas fa-plus"></i> Supply</h3>
                </a>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class="m-3 card grey-bg shadow">
                <a href="#" class="link" id="expense-link">
                    <img class="ind-img" src="{% static 'images/expenses.png' %}" alt="img not found">
                    <h3 class=""><i class="fas fa-plus"></i> Expenses</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="m-3 card grey-bg shadow">
                <a href="{% url 'history_page' %}" class="link">
                    <img class="ind-img" src="{% static 'images/history.png' %}" alt="img not found">
                    <h3 class="">History</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="m-3 card grey-bg shadow">
                <a href="" class="link">
                    <img class="ind-img" src="{% static 'images/statistics.png' %}" alt="img not found">
                    <h3 class="">Statistics</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="m-3 card grey-bg shadow">
                <a href="{% url 'admin:index' %}" class="link">
                    <img class="ind-img" src="{% static 'images/admin.png' %}" alt="img not found">
                    <h3 class="">Admin</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="m-3 card grey-bg shadow">
                <a href="{% url 'logout' %}" class="link">
                    <img class="ind-img" src="{% static 'images/logout.png' %}" alt="img not found">
                    <h3 class="">Log Out</h3>
                </a>
            </div>
        </div>
    </div>
</div>





<div class="myoverlay full-screen" id="product-view">
    <i class="myclose btn btn-danger">X</i>
    <div class="container">
        {% include 'add_product.html' %}
    </div>
</div>

<div class="myoverlay full-screen" id="supply-view">
    <i class="myclose btn btn-danger">X</i>
    <div class="container">
        {% include 'add_supply.html' %}
    </div>
</div>

<div class="myoverlay full-screen" id="expense-view">
    <i class="myclose btn btn-danger">X</i>
    <div class="container">
        {% include 'add_expense.html' %}
    </div>
</div>

<script async>
    document.querySelector("#product-link").addEventListener("click", function (e) {
        document.querySelector("#product-view").classList.toggle("show");
    });

    document.querySelector("#supply-link").addEventListener("click", function (e) {
        document.querySelector("#supply-view").classList.toggle("show");
    });

    document.querySelector("#expense-link").addEventListener("click", function (e) {
        document.querySelector("#expense-view").classList.toggle("show");
    });

    let closes = document.getElementsByClassName("myclose");
    for (let i = 0; i < closes.length; i++) {
        closes[i].addEventListener('click', function (e) {
            this.parentNode.classList.toggle("show");
        });
    }
</script>

{% endblock %}