{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 pt-2 mb-2 text-center d-flex flex-row justify-content-between">
            <h4 class="display-4">PRODUCTS</h2>
            <a href="#" id="purchase-link" class="btn btn-lg btn-danger">New Purchase</a>
        </div>
    </div>
    <form class="header-search-form shadow" method="GET" action="{% url 'items_list' %}">

        <input id="input" class="" name="q" type="text" placeholder="Search ....">
        <input type="submit" value="Search" class="btn btn-primary" style="background-color: rgb(0, 192,192)">

    </form>
    <br>
    <div class="row ">
        <div class="col-12">
            <table class="table shadow table-striped table-hover white-bg">
                <thead class="bg-dark text-white">
                    <tr>
                        <th> Name </th>
                        <th> Description </th>
                        <th> Unit price</th>
                        <th> Quantity </th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products%}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.available_quantity }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7">
                            <h1>There are no Items...</h2>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="myoverlay full-screen" id="purchase-view">
    <i class="myclose btn btn-danger">X</i>
    <div class="container">
        {% include 'add_purchase.html' %}
    </div>
</div>


<script async>

    document.querySelector("#purchase-link").addEventListener("click", function (e) {
        document.querySelector("#purchase-view").classList.toggle("show");
    });

    let closes = document.getElementsByClassName("myclose");
    for (let i = 0; i < closes.length; i++) {
        closes[i].addEventListener('click', function (e) {
            this.parentNode.classList.toggle("show");
        });
    }
</script>
{% endblock %}