{% extends 'base.html' %}

{% block content %}
<div class="container pl-8 pr-8">
    <div class="container">
        <div class="row">
        <div class="col-8 float-left"><h2 class="display-4">SHOP HISTORY</h2></div>
        <div class="col-4 float-right">
            <select class="custom-select md-form" searchable="Search">
                <option value="" disabled selected> Export Data </option>
                <option value=""> <a href="#"> Export to PDF </a> </option>
                <option value=""> <a href="#"> Export to EXCEL </a> </option>
                <option value=""> <a href="#"> Export to CSV </a> </option>
                <label class="mdb-main-label"> Export File </label>

            </select>


        </div>
        </div>
    </div>
    <hr>
    <br>

    <div class="d-flex justify-content-center row pb-3">


        <div class="col-3">
            <input type="number" class="form-control" placeholder="day" id="day">
        </div>
        <div class="col-3">
            <input type="number" class="form-control" placeholder="month" id="month">
        </div>
        <div class="col-3">
            <input type="number" class="form-control" placeholder="year" id="year">
        </div>

        <div>
            <button class="btn btn-success" id="filter">Search</button>
        </div>

        <script>
            let year = document.getElementById("year");
            let month = document.getElementById("month");
            let day = document.getElementById("day");
            let filter = document.getElementById("filter");

            filter.addEventListener("click", function (e) {

                let _year = parseInt(year.value);

                let _month = parseInt(month.value);

                let _day = parseInt(day.value);
                let route = "{% url 'history' %}";
                if (_year !== NaN && _year > 0) {
                    route += + _year;
                    if (_month !== NaN && _month > 0) {
                        route += '/' + _month;
                        if (_day !== NaN && _day > 0) {
                            route += '/' + _day;
                        }
                    }
                }
                window.location = route;
            });
        </script>
    </div>
    <hr>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 bg-success p-2 text-white">
                <h6>Total Purchase = Ghc <span class="text-black"> <strong style="font-size: 20px;">
                    {{ total_purchases }}</strong> </span></h6>
            </div>
            <div class="col-md-4 bg-info p-2 text-white">
                <h6>Total Expenses = Ghc <span class="text-black"> <strong style="font-size: 20px;">
                    {{ total_expenses }} </strong> </span></h6>
            </div>
            {% if net_total < 0 %}
            <div class="col-md-4 bg-danger p-2">
                <h6>NET SALES = Ghc <span class="text-black"> <strong style="font-size: 20px;">
                            {{ net_total }} </strong> </span></h6>
            </div>
            {% else %}
            <div class="col-md-4 bg-warning p-2 ">
                <h6>NET AMOUNT = Ghc <span class="text-black"> <strong style="font-size: 20px;">
                            {{ net_total }} </strong> </span></h6>
            </div>
            {% endif %}

        </div>
    </div>
    <hr>

    <br>
    <div class="row">
        <div class="col-md-7">
            <div class="container">
                <h2 class="display-5">SALES</h2>
            </div>
            <table class="table shadow table-striped table-hover">
                <thead class="bg-dark text-white">
                    <tr>
                        <th> Date </th>
                        <th> Customer </th>
                        <th> Items Sold </th>
                        <th> Qty </th>
                        <th>Total Sales</th>
                    </tr>
                </thead>
                <tbody>
                    {% for purchase in purchases %}
                    <tr>
                        <td>{{ purchase.date }}</td>
                        <td>{{ purchase.customer }}</td>
                        <td>
                            <ol>
                                {% for itempurchase in purchase.item_purchases.all %}
                                <li>{{ itempurchase.product }}</li>
                                {% endfor %}
                            </ol>
                        </td>
                        <td>
                            <ol class="list-unstyled">
                                {% for itempurchase in purchase.item_purchases.all %}
                                <li>{{ itempurchase.quantity }}</li>
                                {% endfor %}
                            </ol>
                        </td>

                        <td><b> Ghc {{ purchase.total_amount }}</b></td>

                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">
                            <h1>There are no purchases...</h2>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-5">
            <div class="container">
                <h2 class="display-5">EXPENSES</h2>
            </div>
            <table class="table shadow table-striped">
                <thead class="bg-dark text-white">
                    <tr>
                        <th> Date </th>
                        <th> Description </th>
                        <th> Amount </th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in expenses %}
                    <tr>
                        <td>{{ expense.date }}</td>

                        <td>{{ expense.description }}</td>

                        <td>{{ expense.amount }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7">
                            <h1>There are no Expenses...</h2>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<br>
<br>



{% endblock %}