{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Purchase history</h2>
    <hr>
    <br>
    <table class="table table-striped">
        <thead class="bg-dark text-white">
            <tr>
                <th> Date </th>
                <th> User Name </th>
                <th> Items Sold </th>
                <th> Quantity </th>
                <th> Unit price</th>
                <th> Total Price </th>
                <th>Total Sales</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
            <tr>
                <td>{{ purchase.date.date}} {{ purchase.date.time }}</td>
                <td>{{ purchase.username }}</td>
                <td>
                    <ol>
                    {% for itempurchase in purchase.item_purchases.all %}
                    <li>{{ itempurchase.product }}</li>
                    {% endfor %}
                    </ol>
                </td>
                <td>
                    <ol class="list-unstyled">
                    {% for itempurchase in purchase.item_purchases.all %}
                    <li>{{ itempurchase.quantity }}</li>
                    {% endfor %}
                    </ol>
                </td>
                <td>
                    <ol class="list-unstyled">
                    {% for itempurchase in purchase.item_purchases.all %}
                    <li>{{ itempurchase.product.price }}</li>
                    {% endfor %}
                    </ol>
                </td>
                <td>
                    <ol class="list-unstyled">
                    {% for itempurchase in purchase.item_purchases.all %}
                    <li>{{ itempurchase.total_amount }} </li>
                    {% endfor %}
                    </ol>
                </td>
                <td><b> Ghc {{ purchase.total_amount }}</b></td>
            
            </tr>
            {% empty %}
            <tr><td colspan="7"><h1>There are no purchases at the moment...</h2></td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="myoverlay full-screen" id="add-product-view">
    <i class="myclose">x</i>
    <div class="container">
        {% include 'add_product.html' %}
    </div>
</div>

<div class="myoverlay full-screen" id="add-purchase-view">
    <i class="myclose">x</i>
    <div class="container">
        {% include 'add_purchase.html' %}
    </div>
</div>

<div class="myoverlay full-screen" id="add-supply-view">
    <i class="myclose btn btn-danger">x</i>
    <div class="container">
        {% include 'add_supply.html' %}
    </div>
</div>
<script>
    document.querySelector("#add-supply-link").addEventListener("click", function (e) {
        document.querySelector("#add-supply-view").classList.toggle("show");
    });
    document.querySelector("#add-product-link").addEventListener("click", function (e) {
        document.querySelector("#add-product-view").classList.toggle("show");
    });
    document.querySelector("#add-purchase-link").addEventListener("click", function (e) {
        document.querySelector("#add-purchase-view").classList.toggle("show");
    });
    let closes = document.getElementsByClassName("myclose");
    for (let i = 0; i < closes.length; i++) {
        closes[i].addEventListener('click', function (e) {
            this.parentNode.classList.toggle("show");
        });
    }
</script>
{% endblock %}