{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="container">
        <h2 class="display-4">SHOP HISTORY</h2>
    </div>
    <hr>
    <br>

    <div class=" d-flex justify-content-center row pb-3">

        <div class="col-3">
            <input type="number" class="form-control" placeholder="year" id="year">
        </div>
        <div class="col-3">
            <input type="number" class="form-control" placeholder="month" id="month">
        </div>
        <div class="col-3">
            <input type="number" class="form-control" placeholder="day" id="day">
        </div>
        <div>
            <button class="btn btn-primary" id="filter">Filter</button>
        </div>
        <script>
            let year = document.getElementById("year");
            let month = document.getElementById("month");
            let day = document.getElementById("day");
            let filter = document.getElementById("filter");
            
            filter.addEventListener("click", function (e) {
                
               let _year = parseInt(year.value);

                let _month = parseInt(month.value);

                let _day = parseInt(day.value);
                alert(_year);
                alert(_month);

                alert("clicked");
                let route = "{% url 'history' %}";
                if (_year !== NaN && _year > 0) {
                    route +=  + _year;
                    if (_month !== NaN && _month > 0) {
                        route += '/' + _month;
                        if (_day !== NaN && _day > 0) {
                            route += '/' + _day;
                        }
                    }
                }
                alert(route);
                window.location = route;
            });
        </script>
    </div>
    <hr>
    <div class="row">

        <div class="col-md-7">
            <div class="container">
                <h2 class="display-5">SALES</h2>
            </div>
            <table class="table shadow table-striped">
                <thead class="bg-dark text-white">
                    <tr>
                        <th> Date </th>
                        <th> Customer </th>
                        <th> Items Sold </th>
                        <th> Qty </th>
                        <th>Total Sales</th>
                    </tr>
                </thead>
                <tbody>
                    {% for purchase in purchases %}
                    <tr>
                        <td>{{ purchase.date }}</td>
                        <td>{{ purchase.customer }}</td>
                        <td>
                            <ol>
                                {% for itempurchase in purchase.item_purchases.all %}
                                <li>{{ itempurchase.product }}</li>
                                {% endfor %}
                            </ol>
                        </td>
                        <td>
                            <ol class="list-unstyled">
                                {% for itempurchase in purchase.item_purchases.all %}
                                <li>{{ itempurchase.quantity }}</li>
                                {% endfor %}
                            </ol>
                        </td>

                        <td><b> Ghc {{ purchase.total_amount }}</b></td>

                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">
                            <h1>There are no purchases at the moment...</h2>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-5">
            <div class="container">
                <h2 class="display-5">EXPENSES</h2>
            </div>
            <table class="table shadow table-striped">
                <thead class="bg-dark text-white">
                    <tr>
                        <th> Date </th>
                        <th> Description </th>
                        <th> Amount </th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in expenses %}
                    <tr>
                        <td>{{ expense.date }}</td>

                        <td>{{ expense.description }}</td>

                        <td>{{ expense.amount }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7">
                            <h1>There are no Expenses</h2>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}